node-red-flow-ttgo-t-beam-to-influxdb-cloud20-also-rssi-snr.txt
[{"id":"ab081634.658488","type":"mqtt in","z":"729ea165.9e861","name":"","topic":"xavier-t-beam-ttn-mapper/devices/87654321/up","qos":"2","datatype":"auto","broker":"e3910256.bdbe2","x":220,"y":60,"wires":[["e24e2295.d4626","4d8ceac2.9cf3e4"]]},{"id":"e24e2295.d4626","type":"function","z":"729ea165.9e861","name":"payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["314cc4f0.e45ccc","636060d2.b7213","23ee3733.7846f8"]]},{"id":"314cc4f0.e45ccc","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":220,"wires":[]},{"id":"3b21e1d1.0bba8e","type":"comment","z":"729ea165.9e861","name":"InfluxDB Cloud injection","info":"","x":580,"y":100,"wires":[]},{"id":"636060d2.b7213","type":"function","z":"729ea165.9e861","name":"Latitude , longitude","func":"var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\n\nmsg.topic ='latitude='+ latitude + \n',longitude=' + longitude \n;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["fb620146.4bf6f","81ff2adc.8dcb48"]]},{"id":"fb620146.4bf6f","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":140,"wires":[]},{"id":"70dc2bd2.4b30c4","type":"function","z":"729ea165.9e861","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=your_email&bucket=your_buket&precision=s\" --header \"Authorization: Token yourtoken\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["68fc0f9a.5e875","6453a0c3.54843"]]},{"id":"bbd517.0ab8aae8","type":"debug","z":"729ea165.9e861","name":"","active":true,"console":false,"complete":"false","x":1025,"y":281,"wires":[]},{"id":"c80b7d71.116b8","type":"debug","z":"729ea165.9e861","name":"","active":true,"console":false,"complete":"false","x":1022,"y":328,"wires":[]},{"id":"6c14e149.dc45a","type":"debug","z":"729ea165.9e861","name":"","active":true,"console":false,"complete":"false","x":1022,"y":369,"wires":[]},{"id":"68fc0f9a.5e875","type":"function","z":"729ea165.9e861","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["7ab0370.4951ec8","bd0b73be.2ab86"]]},{"id":"6453a0c3.54843","type":"debug","z":"729ea165.9e861","name":"curl","active":true,"console":false,"complete":"payload","x":690,"y":320,"wires":[]},{"id":"7ab0370.4951ec8","type":"debug","z":"729ea165.9e861","name":"curl + data","active":true,"console":false,"complete":"payload","x":890,"y":240,"wires":[]},{"id":"bd0b73be.2ab86","type":"exec","z":"729ea165.9e861","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":790,"y":460,"wires":[["bbd517.0ab8aae8"],["c80b7d71.116b8"],["6c14e149.dc45a"]]},{"id":"23ee3733.7846f8","type":"function","z":"729ea165.9e861","name":"Longitude","func":"longitude=msg.payload.longitude;\nmsg.payload=longitude;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":420,"wires":[["e978b21.d66a15"]]},{"id":"e978b21.d66a15","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":420,"wires":[]},{"id":"4d8ceac2.9cf3e4","type":"function","z":"729ea165.9e861","name":"metadata","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.metadata;\n\nreturn msg1;","outputs":1,"noerr":0,"x":200,"y":520,"wires":[["75f2c26e.5d115c","ad1c8d2b.1856b"]]},{"id":"75f2c26e.5d115c","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":580,"wires":[]},{"id":"ad1c8d2b.1856b","type":"function","z":"729ea165.9e861","name":"gateways","func":"var first_gateway = msg.payload.gateways[0];\nmsg.payload=first_gateway\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["34bbcfd9.771db","591f6982.17afe8","21fd902e.a8e44"]]},{"id":"34bbcfd9.771db","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":600,"wires":[]},{"id":"591f6982.17afe8","type":"function","z":"729ea165.9e861","name":"","func":"var rssi = msg.payload.rssi\nmsg.payload = rssi;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["b6e7d1b6.cf9a8"]]},{"id":"b6e7d1b6.cf9a8","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":560,"wires":[]},{"id":"81ff2adc.8dcb48","type":"join","z":"729ea165.9e861","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":390,"y":300,"wires":[["e2a08fd9.8c374","70dc2bd2.4b30c4"]]},{"id":"21fd902e.a8e44","type":"function","z":"729ea165.9e861","name":"rssi, snr","func":"var rssi = msg.payload.rssi;\nvar snr = msg.payload.snr;\n\nmsg.topic ='rssi='+ rssi + \n',snr=' + snr \n;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":480,"wires":[["81ff2adc.8dcb48","2fea7320.a1494c"]]},{"id":"2fea7320.a1494c","type":"debug","z":"729ea165.9e861","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":520,"wires":[]},{"id":"e2a08fd9.8c374","type":"debug","z":"729ea165.9e861","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":240,"wires":[]},{"id":"e3910256.bdbe2","type":"mqtt-broker","z":"729ea165.9e861","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]