node-red-flow-ttgo-t-beam-to-influxdb-cloud20.txt
[{"id":"3ccdad8a.6ab562","type":"mqtt in","z":"a55b8b39.3dbd28","name":"","topic":"xavier-t-beam-ttn-mapper/devices/87654321/up","qos":"2","datatype":"auto","broker":"c77de2fa.9fb4","x":220,"y":80,"wires":[["38f8cf43.a4519","f8efc7ca.b4d518"]]},{"id":"38f8cf43.a4519","type":"function","z":"a55b8b39.3dbd28","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["3eeb6a76.7d29e6","50141c72.46c194","808b2ee6.d7ec1"]]},{"id":"3eeb6a76.7d29e6","type":"debug","z":"a55b8b39.3dbd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":240,"wires":[]},{"id":"563428a0.f8e8f8","type":"comment","z":"a55b8b39.3dbd28","name":"InfluxDB Cloud injection","info":"","x":580,"y":120,"wires":[]},{"id":"50141c72.46c194","type":"function","z":"a55b8b39.3dbd28","name":"Build data stream to be send to InfluxDB cloud","func":"var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\n\nmsg.topic ='latitude='+ latitude + \n',longitude=' + longitude \n;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["b4b46565.73f0f8","3bc65cf.3520da4"]]},{"id":"b4b46565.73f0f8","type":"debug","z":"a55b8b39.3dbd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":160,"wires":[]},{"id":"3bc65cf.3520da4","type":"function","z":"a55b8b39.3dbd28","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=your_email&bucket=your_bucket&precision=s\" --header \"Authorization: Token your_token\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["b828a51e.1bd448","ad7b462c.06a928"]]},{"id":"8dfca076.5bfa1","type":"debug","z":"a55b8b39.3dbd28","name":"","active":false,"console":false,"complete":"false","x":1025,"y":301,"wires":[]},{"id":"3648ed70.da96a2","type":"debug","z":"a55b8b39.3dbd28","name":"","active":false,"console":false,"complete":"false","x":1022,"y":348,"wires":[]},{"id":"89ad77.7af19288","type":"debug","z":"a55b8b39.3dbd28","name":"","active":false,"console":false,"complete":"false","x":1022,"y":389,"wires":[]},{"id":"b828a51e.1bd448","type":"function","z":"a55b8b39.3dbd28","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["16f18008.2de1e","b48ab62.7918648"]]},{"id":"ad7b462c.06a928","type":"debug","z":"a55b8b39.3dbd28","name":"curl","active":false,"console":false,"complete":"payload","x":690,"y":340,"wires":[]},{"id":"16f18008.2de1e","type":"debug","z":"a55b8b39.3dbd28","name":"curl + data","active":false,"console":false,"complete":"payload","x":890,"y":260,"wires":[]},{"id":"b48ab62.7918648","type":"exec","z":"a55b8b39.3dbd28","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":790,"y":500,"wires":[["8dfca076.5bfa1"],["3648ed70.da96a2"],["89ad77.7af19288"]]},{"id":"f8efc7ca.b4d518","type":"debug","z":"a55b8b39.3dbd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":60,"wires":[]},{"id":"808b2ee6.d7ec1","type":"function","z":"a55b8b39.3dbd28","name":"Longitude","func":"longitude=msg.payload.longitude;\nmsg.payload=longitude;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["3795e6a0.aad15a"]]},{"id":"3795e6a0.aad15a","type":"debug","z":"a55b8b39.3dbd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":460,"wires":[]},{"id":"c77de2fa.9fb4","type":"mqtt-broker","z":"a55b8b39.3dbd28","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]